# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.log

# =========================
# Node / Angular
# =========================
node_modules/
.angular/
dist/

# =========================
# Environment files
# =========================
.env
application-local.properties
application-docker.properties

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.out

# =========================
# VSCode
# =========================
.vscode/
